<p>Welcome <%= @user.username %>!</p>

<p>Thank you for signing up for a LIFERUG account. You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>After confirming your account, get started with your first post by clicking the + ADD button on the left sidebar to
	create your first post. You can add friends and follow their activity by clicking on the SOCIAL button on the sidebar.</p>

<p>LIFERUG works best in Safari or Google Chrome. LIFERUG is still in beta, so if you come across any problems and/or bugs, please 
	let me know by emailing me at victorpx2016@icloud.com </p>
	
<p>Once again, thank you for joining LIFERUG.com!</p>
